.border {
    border: 1px solid black;
}

.details-box {
    border: 1px solid black;
    border-radius: 10px;
    height: 80%;
    overflow: auto;
}

.display-box {
    height: 80%;
}

.display-entry {
    margin-bottom: 10px;
    white-space: pre-line;
}

.details-box::-webkit-scrollbar, .display-box::-webkit-scrollbar {
    width: 0.5em;
  }
   
.details-box::-webkit-scrollbar-thumb, .display-box::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 1em;
}

.container {
    width: 1000px;
    height: 100vh;
}

.entry {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.entry-box {
    width: 30%;
}

.form {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 750px;
    width: 700px;
    padding: 10px;
    position: fixed;
    z-index: 1
}

.form-div {
    width: 90%;
}

.form-div > button {
    cursor: pointer;
    margin-left: 10px;
    min-width: 75px;
    padding: 5px;
}

.form-input {
    height: 90%;
    width: 90%;
}

.form-heading {
    font-size: 20px;
    font-weight: bold;
}

.heading {
    font-size: 3em;
    font-weight: bold;
}

.section {
    height: 25%;
    width: 90%
}

.section-heading {
    font-size: 24px;
    font-weight: 700;
    height: 20%;
}

.section-heading > span {
    font-size: 45px;
}

.material-icons {
    cursor: pointer;
    margin-left: 20px;
}

.modal {
    display: block;
    background-color: rgb(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.hidden {
    visibility: hidden;
}

.input {
    height: 10%;
    width: 90%;
}

label { 
    font-weight: 600;
    width: 100%;
}

label > span {
    display: inline-block;
    width: 100px;
}

label[for='Current'] > span {
    font-size: 14px;
}

.input > div > label > input {
    font-size: 16px;
    padding: 5px;
    width: 250px;
}

.form-input > div > label > input {
    font-size: 16px;
    padding: 5px;
    width: 450px;
}

.form-input > div > label > textarea {
    font-size: 16px;
    height: 300px;
    padding: 5px;
    width: 450px;
    resize: none;
}

/* flexbox */

.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-fs {
    justify-content: flex-start;
}

.flex-jc-fe {
    justify-content: flex-end;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-se {
    justify-content: space-evenly;
}

.flex-ai-c {
    align-items: center;;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}
