.border {
    border: 1px solid black;
}

.box {
    border: 1px solid black;
    height: 20%;
    width: 90%;
}

.container {
    width: 1000px;
    height: 100vh;
}

.entry {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.heading {
    font-size: 3em;
    font-weight: bold;
}

.section-heading {
    font-size: 23px;
    font-weight: 600;
    width: 90%
}

.section-heading > span {
    font-size: 45px;
}

.section-heading > span:hover {
    cursor: pointer;
}

.field {
    width: 90%;
}

label { 
    display: inline-block;
    font-weight: 600;
    width: 100%;
}

label > span {
    display: inline-block;
    width: 15%;
}

label > input {
    font-size: 16px;
    padding: 5px;
    width: 35%;
}

/* flexbox */

.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-se {
    justify-content: space-evenly;
}

.flex-ai-c {
    align-items: center;;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}
